.smallImg{
    width: 200px;
    height: 150px;
    margin-left: 15px;
    /* padding: 3px; */
    border-radius: 10px;
}

.smallImg:hover{
    /* border: 3px solid rgb(0, 139, 139); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.bigImg{
    width: 800px;
    height: auto;
    margin-left: 132px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* padding: 5px; */
    /* border: 6px solid rgb(0, 139, 139); */
    border-radius: 15px;
    /* position: absolute; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



.container{
    width: 1260px;
    margin: 0 auto;
}

